<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gptrim</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon_io/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-toggle@2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-toggle@2.2.2/js/bootstrap-toggle.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">gptrim</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.buymeacoffee.com/writevlad">buy me a coffee</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="toolbar">
                <div class="form-group">
                    <label for="stemmer-select">Stemmer:</label>
                    <select class="form-control" id="stemmer-select" name="stemmer">
                        <option value="">None</option>
                        <option value="snowball">Snowball (recommended)</option>
                        <option value="lancaster">Lancaster (aggressive)</option>
                    </select>
                    <p id="stemmer-description" class="form-text text-muted">
                        Select a stemmer to increase compression (might lose more information)
                    </p>
                    <!-- Replace the existing checkboxes with the following code -->
                    <div class="form-group toggle-with-label">

                        <input type="checkbox" id="remove-spaces" name="remove_spaces" data-toggle="toggle"
                               data-size="small">
                        <label for="remove-spaces">Remove spaces (saves characters, might increase tokens)</label>
                    </div>
                    <div class="form-group toggle-with-label">
                        <input type="checkbox" id="remove-stopwords" name="remove_stopwords" data-toggle="toggle"
                               data-size="small">
                        <label for="remove-stopwords">Remove stopwords</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="transform-form">
                <div class="form-group">
                    <label for="input-text" class="form-control-label">Input Text:</label>
                    <textarea id="input-text" name="text" class="form-control" rows="20"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Trim it!</button>
            </form>
        </div>
        <div class="col-md-6">
            <label for="transformed-text">Trimmed Text:</label>
            <div class="d-flex">
                <textarea id="transformed-text" readonly class="form-control" rows="20"></textarea>
                <button id="copy-button" class="btn btn-light" title="Copy to clipboard">
                    <i class="fas fa-copy"></i>
                </button>
            </div>

        </div>
    </div>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Before</th>
            <th scope="col">After</th>
            <th scope="col">Saved %</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Tokens</th>
            <td id="token-count-input">0</td>
            <td id="token-count-output">0</td>
            <td id="token-saved-percentage">0%</td>
        </tr>
        <tr>
            <th scope="row">Characters</th>
            <td id="char-count-input">0</td>
            <td id="char-count-output">0</td>
            <td id="char-saved-percentage">0%</td>
        </tr>
        </tbody>
    </table>
    <div class="container text-left">
        <h2>Guide</h2>
        <p>There are two ways to reduce your GPT prompt size. By reducing characters, you can fit ore text into a
            single chat message. By reducing tokens, you can save money on API calls and increase the context window
            size.
        </p>
        <p>Stopwords removal reduces both characters and tokens.</p>
        <p>Stemming and space removal reduce characters, but increase token usage.</p>
        <p>You should experiment until you find the right solution!</p>
    </div>
    <div class="container text-left">
        <h2>Disclaimer</h2>
        <p>The compression is not perfect. The original meaning can get lost or
            misinterpreted. Don't use this for applications where nuance is crucial (e.g. medical diagnosis, law). The
            tool is provided as is without any guarantees. I am not liable for any misinterpretations or mistakes that
            arise from using it.
        </p>

    </div>

    <footer class="footer bg-light mt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center py-3">
                    <a href="https://twitter.com/writevlad" class="mx-2 text-dark" target="_blank"
                       rel="noopener noreferrer">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/vlad-ds/" class="mx-2 text-dark" target="_blank"
                       rel="noopener noreferrer">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://github.com/vlad-ds" class="mx-2 text-dark" target="_blank"
                       rel="noopener noreferrer">
                        <i class="fab fa-github-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <p>Made with ❤️ by Vlad</p>
        </div>
        <div class="container text-center">
            <p style="font-size:12px;">Privacy policy. This website has no cookies and does not collect any data.</p>
        </div>
    </footer>


    <script src="/static/scripts.js"></script>
</body>
</html>